<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{title}} </title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="/" class="brand-logo">
            {{!-- Careership --}}
            <img src="./images/logo.png" alt="brand-logo" id="brandLogo" style="height:62px;width:90px;"></img>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/careers">Careers</a></li>
            <li><a href="/guidance">Guidance</a></li>
            <li><a href="/recommend">Recommend Me</a></li>
            <li><a href="/profile">Profile</a></li>
            {{#if user}}
            <li><a class="nav-link" href="/profile"><i class="material-icons right">account_circle</i>{{ user.name }}</a></li>
            <li><a class="nav-link" href="/logout">Logout</a></li>
            {{else}}
            <!-- <li><a class="nav-link" href="/register">Register</a></li>
            <li><a class="nav-link" href="/login">Login</a></li> -->
            {{/if}}
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <main>
      {{{ body }}}
    </main>

    <footer class="page-footer teal">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5 class="white-text">About Careership</h5>
            <ul>
              <li><a class="white-text" href="#!">The Company</a></li>
              <li><a class="white-text" href="#!">Work with Us</a></li>
              <li><a class="white-text" href="#!">Site Map</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Career Seekers</h5>
            <ul>
              <li><a class="white-text" href="#!">Jobs by Industries</a></li>
              <li><a class="white-text" href="#!">Company Profiles</a></li>
              <li><a class="white-text" href="#!">Terms of Use</a></li>
              <li><a class="white-text" href="#!">Privacy Policy</a></li>
              <li><a class="white-text" href="#!">Testimonials</a></li>
              <li><a class="white-text" href="#!">Help</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Mentors</h5>
            <ul>
              <li><a class="white-text" href="#!">Sign Up</a></li>
              <li><a class="white-text" href="#!">Search for Mentees</a></li>
              <li><a class="white-text" href="#!">Why Careership is No.1</a></li>
              <li><a class="white-text" href="#!">Terms of Use</a></li>
            </ul>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Social Media</h5>
            <ul>
              <li><a class="white-text" href="#!">Facebook</a></li>
              <li><a class="white-text" href="#!">Twitter</a></li>
              <li><a class="white-text" href="#!">Mobile Apps</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
    <!-- add scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
