<div class="container">
  <div class="row">
    <h4>Technology</h4>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/software-developer.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Software Developer<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Software Developer<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/data-scientist.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Data Scientist<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Data Scientist<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/web-developer.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Web Developer<i class="material-icons right">more_vert</i></span>
          <p><a href="/webdev">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Web Developer<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>Bioscience</h4>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/zoologist.png" style="top: -130px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Zoologist<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Zoologist<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/marine-biologist.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Marine Biologist<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Marine Biologist<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/vet.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Veterinarian<i class="material-icons right">more_vert</i></span>
          <p><a href="/webdev">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Veterinarian<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h4>Design</h4>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/ux-designer.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">UX Designer<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">UX Designer<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/interior-designer.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Interior Designer<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Interior Designer<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card small hoverable">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="./images/landscape-architect.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Landscape Architect<i class="material-icons right">more_vert</i></span>
          <p><a href="/webdev">Day in the life</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Landscape Architect<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>
