<div class="row" id="full">

  <div class="col s3" id="box2">
    <h4>Career Guides</h4>
    <div class="row grey lighten-1 z-depth-4">
      <div class="col s5">
        <img src="./images/mentor3.jpg" alt="" class="circle responsive-img z-depth-3">
      </div>
      <div class="col s7">
        <h5 class=""><strong>Gabrielle Ong</strong></h5>
        <p>Front-end Web Developer @ Accenture</p>
      </div>
    </div>

    <div class="row white">
      <div class="col s5">
        <img src="./images/mentor2.jpg" alt="" class="circle responsive-img z-depth-3">
      </div>
      <div class="col s7">
        <h5 class=""><strong>Brenna Zumbro </strong></h5>
        <p>Veterinarian @ Barkway Pet Health</p>
      </div>
    </div>

    <div class="row white">
      <div class="col s5">
        <img src="./images/mentor1.png" alt="" class="circle responsive-img z-depth-3">
      </div>
      <div class="col s7">
        <h5 class=""><strong>Dylan Ginoza</strong></h5>
        <p>Interior Designer @ Little Red Dot</p>
      </div>
    </div>
  </div>

  <div class="col s9" id="box" style="border-left: 1px solid grey;">
    <div class="row messageRow">
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            <img src="./images/mentor3.jpg" alt="" class="circle z-depth-3 textImg">
          </div>
          <p id='name1'>Gabrielle</p>
        </div>
      </div>
      <div class="col s10">
        <h4 class="">Hi Jane. I'm Gabrielle, ask me anything about being a web developer!</h4>
      </div>
    </div>

    <div class="row messageRow">
      <div class="col s10">
        <h4 class="">Hi Gabrielle! Thanks for reaching out. Could you tell me about what your daily life is like?</h4>
      </div>
      <div class="col s2">
        <div class="row">
          <div class="col s12">
            <img src="./images/jane.png" alt="" class="circle z-depth-3 textImg">
          </div>
          <p id='name2'>Jane</p>
        </div>
      </div>
    </div>

    <form class="">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Message:</label>
        </div>
      </div>
    </form>
  </div>
</div>
