<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Discover your dream job</h1>
      <div class="row center">
        <div class="input-field col s12 white" style="border-radius: 40px;">
          <input id="jobs" type="text" class="validate black-text" style="border-bottom: none;">
        </div>
      </div>
      <div class="row center">
        <a href="/careers" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Search</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax"><img src="./images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Find your dream job</h5>
          <p class="light">
            Sometimes a job search can feel overwhelming, especially if you need a job right away. It often feels like there is so much you need to do to become employable in so little time. Careership offers you the various tools to discover your dream career by educating you of your options and matching your skillset and personality to available jobs.
          </p>
        </div>
      </div>

      <div class="col s12 m6">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">Get career advice</h5>

          <p class="light">
            Get your career questions answered through our mentoring platform which links up aspiring individuals with mentors currently working in the field. Not only is this safe and secure but it also provides immediate access to youths trying to understand their priorities and goals in their careers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/industries.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Industries</h4>
        <p>
          A new data release reveals which industries are going to grow the fastest between 2012 and 2022. Health care and technology, already giants today, are expected to keep up their rapid growth over the next decade. At the same time, manufacturing is expected to continue its rapid decline. 
          So if you're looking ahead to the future, here are the industries that are going to boom. 
        </p>
        </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/technology.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Technology</h4>
        <br>
        <div class="row">
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/software-developer.jpg" class="circle" alt="software-developer.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Software Developer</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/data-scientist.jpg" class="circle" alt="data-scientist.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Data Scientist</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="/webdev">
              <img src="./images/web-developer.png" class="circle" alt="web-developer.png" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Web Developer</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/bioscience.jpg" alt="Unsplashed background img 3"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Bioscience</h4>
        <br>
        <div class="row">
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/zoologist.png" class="circle" alt="zoologist.png" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Zoologist</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/marine-biologist.jpg" class="circle" alt="marine-biologist.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Marine Biologist</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/vet.jpg" class="circle" alt="vet.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Veterinarian</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/design.jpg" alt="design.jpg"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Design</h4>
        <br>
        <div class="row">
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/ux-designer.jpg" class="circle" alt="ux-designer.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">UX Designer</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/interior-designer.jpg" class="circle" alt="interior-designer.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Interior Designer</h5>
            </a>
          </div>
          <div class="col s4 jobs hoverable">
            <a href="#">
              <img src="./images/landscape-architect.jpg" class="circle" alt="landscape-architect.jpg" style="height: 150px; width: 150px;"></img>
              <h5 class="center-align light">Landscape Architect</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/background5.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Get a recommendation</h4>
        <p>Reached the end, and don't know what to do? Click the button below for a recommendation.</p>
        <a class="waves-effect waves-light btn-large" href="/recommend"><i class="material-icons left">cloud</i>Recommend</a>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="parallax"><img src="./images/background4.png" alt="Unsplashed background img 2"></div>
</div>
