<div class="container">
   <h1> Profile </h1>
    <div class="card horizontal row">
      <div class="col s4">
        <br>
        <div class="card-image left">
          <img style="height:150px" src="images/jane.png">
          <p><b>Name:</b> Jane</p>
          <p><b>Age:</b> 16</p>
          <p><b>Email:</b> jane.tan@gmail.com</p>
        </div>

      </div>
      <div class="col s8">
        <br>
        <div class="">
          <b>Description</b>
          <p>
            I really love technology! However, I'm not entirely sure if this is what I want to do for my career. Love to hear from a full-stack developer!
          </p>
        </div>

        <div class="">
          <b>Industry Interest:</b>
          <div class="chip">
            Technology
          </div>
          <div class="chip">
            FMCG
          </div>
          <div class="chip">
            Manufacturing
          </div>
          <div class="chip">
            Electronics
          </div>
        </div>
        <br>
        <div class="">
          <b>Functional Interest:</b>
          <div class="chip">
            Web Development
          </div>
          <div class="chip">
            System Engineering
          </div>
          <div class="chip">
            Manufacturing
          </div>
          <div class="chip">
            Electronics
          </div>
        </div>
        <br>
        <div class="">
          <b>Skillset:</b>
          <div class="chip">
            Html
          </div>
          <div class="chip">
            Css
          </div>
          <div class="chip">
            Photoshop
          </div>
          <div class="chip">
            Illustrator
          </div>
        </div>

        <div class="">
          <a href="/profile_edit" class="btn right">Edit Profile</a>
        </div>
        <br><br>
        </div>
        </div>

        <h3>Personality:</h3>
        <div class="row" style="height: 80px">
           <div class="col s3 center">

             <div class="card">
               <h4>MBTI</h4>
               <div class="card-content" style="height: 100px; background-color: #C8E7E4;">
                 <h5><strong>INTP</strong></h5>
               </div>
             </div>

           </div>
           <div class="col s3 center">
             <div class="card">
               <h4>Big 5</h4>
               <div class="card-content" style="height: 100px; background-color: #C8E7E4;">
                 <a href="#" class="btn">Take it HERE</a>
               </div>
             </div>
           </div>
           <div class="col s3 center">
             <div class="card">
               <h4>DISC</h4>
               <div class="card-content" style="height: 100px; background-color: #C8E7E4;">
                 <a href="https://discprofile.com/" class="btn">Take it HERE</a>
               </div>

             </div>
           </div>
           <div class="col s3 center">
             <div class="card">
               <h4>FIRO-B</h4>
               <div class="card-content" style="height: 100px; background-color: #C8E7E4;">
                 <a href="https://discprofile.com/" class="btn">Take it HERE</a>
               </div>

             </div>
           </div>
        </div>

        <br>

</div>
