<div class="container">
   <h1> Profile </h1>

   <b>Name: </b>Jane <br>
   <b>Age: </b>16
   <br>
   <br>

   <b>Industry Interest:</b>
   <br>
   <div style="border: thin solid black; width:100%">
      Technology, FMCG, Manufacturing, Electronic
   </div>

   <br><br>

   <b>Function Interest:</b>
   <div style="border: thin solid black; width:100%">
      Web Development, System Engineer
   </div>

   <br><br>

   <b>Skillset/Personality:</b>
   <div style="border: thin solid black; width:100%">
      MBTI: INTP

      Skillset: C++, Python, Django, Node.js
   </div>

   <br><br>

   <b>Description:</b>
   <div style="border: thin solid black; width:100%">
      I really love technology! However, I'm not entirely sure if this is what I want to do for my career. Love to hear from a full-stack developer!
  </div>



  </div>
