<div class="container">
   <h1> Update Profile </h1>

   <div class="card horizontal row">
     <div class="col s4">
       <br>
       <div class="card-image left">
         <img style="height:150px" src="images/jane.png">
         <p><b>Name:</b> Jane</p>
         <p><b>Age:</b> 16</p>
         <input type="text" name="" value="jane.tan@gmail.com">
       </div>

     </div>
     <div class="col s8">
       <br>
       <div class="">
         <b>Description</b>
         <textarea id="textarea1" class="materialize-textarea validate" >I really love technology! However, I'm not entirely sure if this is what I want to do for my career and would love to hear from a full-stack developer!</textarea>
       </div>

       <b>Industry Interest: </b>
       <input type="checkbox" id="ind1"><label class="black-text tooltipped" for="ind1"  data-position="bottom" data-delay="50" data-tooltip="Advertising is an audio or visual form of marketing communication to promote or sell a product, service or idea.">Advertising</label>
       <input type="checkbox" id="ind2"><label class="black-text tooltipped" for="ind2" data-position="bottom" data-delay="50" data-tooltip="Construction is the process of constructing a building or infrastructure such as roads and bridges.">Construction</label>
       <input type="checkbox" id="ind3"><label class="black-text tooltipped" for="ind3" data-position="bottom" data-delay="50" data-tooltip="Education is about teaching others knowledge or skills.">Education</label>
       <input type="checkbox" id="ind4" checked><label class="black-text tooltipped" for="ind4" data-position="bottom" data-delay="50" data-tooltip="Electronics is an engineering discipline that works to use electrical energy.">Electronic</label>
       <input type="checkbox" id="ind5" checked><label class="black-text tooltipped" for="ind5" data-position="bottom" data-delay="50" data-tooltip="Fast-moving consumer goods (FMCG) or consumer packaged goods to be sold quickly and at low cost. ">FMCG</label>
       <input type="checkbox" id="ind6"> <label class="black-text tooltipped" for="ind6" data-position="bottom" data-delay="50" data-tooltip="Retail is selling goods or items to the people who will use them, as opposed to wholesale which is selling to someone who sells to consumers.">Retail</label>
       <input type="checkbox" id="ind7" checked> <label class="black-text tooltipped" for="ind7" data-position="bottom" data-delay="50" data-tooltip="Technology!">Technology</label>

       <br><br>
       <b>Functional Interest:</b>
       <input type="checkbox" id="int1"> <label class="black-text tooltipped" for="int1" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Accounting</label>
       <input type="checkbox" id="int2"> <label class="black-text tooltipped" for="int2" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Firefighting</label>
       <input type="checkbox" id="int3"> <label class="black-text tooltipped" for="int3" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Procurement</label>
       <input type="checkbox" id="int4" checked> <label class="black-text tooltipped" for="int4" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">System Engineer</label>
       <input type="checkbox" id="int5"> <label class="black-text tooltipped" for="int5" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Teaching</label>
       <input type="checkbox" id="int6"> <label class="black-text tooltipped" for="int6" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Underwriting</label>
       <input type="checkbox" id="int7" checked> <label class="black-text tooltipped" for="int7" data-position="bottom" data-delay="50" data-tooltip="I am a tooltip">Web Development</label>

       <br><br>
       <b>Skillset:</b>
       <input type="text" name="" value="Html, Css, Photoshop, Illustrator">
        <div class="">
          <a href="/profile" class="btn right">Update</a>
        </div>
        <br><br>
     </div>
   </div>
   <!-- End of profile -->

   <h3>Personality:</h3>
   <div class="row" style="height: 80px">
      <div class="col s3 center">

        <div class="card">
          <h4>MBTI</h4>
          <div class="card-content blue" style="height: 100px">
            <h5><strong>INTP</strong></h5>
          </div>
        </div>

      </div>
      <div class="col s3 center">
        <div class="card">
          <h4>Big 5</h4>
          <div class="card-content blue" style="height: 100px">
            <a href="https://personality-insights-livedemo.mybluemix.net/#your-twitter-panel" class="btn">Take it HERE</a>
          </div>
        </div>
      </div>
      <div class="col s3 center">
        <div class="card">
          <h4>DISC</h4>
          <div class="card-content blue" style="height: 100px">
            <a href="https://discprofile.com/" class="btn">Take it HERE</a>
          </div>

        </div>
      </div>
      <div class="col s3 center">
        <div class="card">
          <h4>FIRO-B</h4>
          <div class="card-content blue" style="height: 100px">
            <a href="http://careerassessmentsite.com/tests/firo-business-firo-b-tests/about-the-firo-b/" class="btn">Take it HERE</a>
          </div>

        </div>
      </div>
   </div>


 </div>
