<div class="container">
   <h1> Edit Profile </h1>

   <b>Name: </b>Jane <br>
   <b>Age: </b>16
   <br>
   <br>

   <b>Industry Interest:</b>
   <br>
   <div style="border: thin solid black; width:100%">
      <input type="checkbox"> Advertising </input>
      <input type="checkbox" id="test5" />
      <label for="test5">Red</label>
      <input type="checkbox"> Construction </input>
      <input type="checkbox"> Education </input>
      <input type="checkbox" checked> Electronic </input>
      <input type="checkbox" checked> FMCG </input>
      <input type="checkbox"> Retail </input>
      <input type="checkbox" checked> Technology </input>
   </div>

   <br><br>

   <b>Function Interest:</b>
   <div style="border: thin solid black; width:100%">
      <input type="checkbox"> Accounting </input>
      <input type="checkbox"> Construction </input>
      <input type="checkbox"> Procurement </input>
      <input type="checkbox" checked> System Engineer </input>
      <input type="checkbox"> Teaching </input>
      <input type="checkbox"> Underwriting </input>
      <input type="checkbox" checked> Web Development </input>
   </div>

   <br><br>

   <b>Skillset/Personality:</b>
   <div style="border: thin solid black; width:100%">
      MBTI: INTP

      Skillset: C++, Python, Django, Node.js
   </div><br>
   <div><a href="">Click here to complete other tests</a>

   <br><br>

   <b>Description:</b>
   <div style="border: thin solid black; width:100%">
      I really love technology! However, I'm not entirely sure if this is what I want to do for my career and would love to hear from a full-stack developer!
   </div>

   <br><br>

   <input type="submit">

 </div>

</div>
