<div class="container">
  <br>
  <div class="row">
    <div class="col s9">
      <h4>Recommendations for <strong>Jane</strong></h4>
      <p>Base on your profile, these are the careers that you might be interested in.</p>
      <p>Update your profile to get more accurate recommendations.</p>
      <a class="waves-effect waves-light btn" href="/profile_edit">Update Profile</a>
    </div>

    <div class="col s3">
      <img src="./images/jane.png" alt="" class="circle z-depth-3 recomdImg">
    </div>

  </div>

  <div class="row">
    <div class="col s6">
      <div class="card hover-reveal center teal">
        <h4>Web Development</h4>
        <h4>90%</h4>
        <div class="card-image waves-effect waves-block waves-light">
          <img src="./images/janeWeb.png" alt="skill-chart" class="activator responsive-img">
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Web Development</span>
          <img src="./images/web-developer.png" class="circle" alt="web-developer.png" style="height: 150px; width: 150px;"></img>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet.</p>
          <a href="/webdev" class="btn">Learn More</a>
        </div>
      </div>
    </div>

    <div class="col s6">
      <div class="card hover-reveal center teal">
        <h4>Veterinarian</h4>
        <h4>76%</h4>
        <div class="card-image waves-effect waves-block waves-light">
          <img src="./images/janeVet.png" alt="skill-chart" class="activator responsive-img">
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Veterinarian</span>
          <img src="./images/vet.jpg" class="circle" alt="vet.png" style="height: 150px; width: 150px;"></img>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet.</p>
          <a href="/webdev" class="btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s6">
      <div class="card hover-reveal center teal">
        <h4>Data Scientist</h4>
        <h4>83%</h4>
        <div class="card-image waves-effect waves-block waves-light">
          <img src="./images/janeData.png" alt="skill-chart" class="activator responsive-img">
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Data Scientist</span>
          <img src="./images/data-scientist.jpg" class="circle" alt="data-scientist.jpg" style="height: 150px; width: 150px;"></img>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet.</p>
          <a href="/webdev" class="btn">Learn More</a>
        </div>
      </div>
    </div>



    <div class="col s6">
      <div class="card hover-reveal center teal">
        <h4>System Engineer</h4>
        <h4>68%</h4>
        <div class="card-image waves-effect waves-block waves-light">
          <img src="./images/janeSystem.png" alt="skill-chart" class="activator responsive-img">
        </div>

        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">System Engineer</span>
          <img src="./images/software-developer.jpg" class="circle" alt="software-developer.jpg" style="height: 150px; width: 150px;"></img>
          <p>Web development is a broad term for the work involved in developing a web site for the Internet.</p>
          <a href="/webdev" class="btn">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
