<div class="container">
  <br>
  <div class="row">
    <div class="col s9">
      <h4>Recommendations for <strong>Jane</strong></h4>
      <p>Base on your profile, these are the careers that you might be interested in.</p>
      <p>Update your profile to get more accurate recommendations.</p>
      <a class="waves-effect waves-light btn">Update Profile</a>
    </div>

    <div class="col s3">
      <img src="./images/jane.png" alt="" class="circle z-depth-3 recomdImg">
    </div>

  </div>

  <div class="row">
    <div class="col s6 row">
      <div class="col s12">

        <div class="card hover-reveal center">
          <h4>85%</h4>
          <h4>Web Development</h4>
          <div class="card-image waves-effect waves-block waves-light">
            <img src="./images/chart.png" alt="skill-chart" class="activator responsive-img">
          </div>

          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Web Development</span>
            <img src="./images/web-developer.png" class="circle" alt="web-developer.png" style="height: 150px; width: 150px;"></img>
            <p>Web development is a broad term for the work involved in developing a web site for the Internet.</p>
            <a href="/webdev" class="btn">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col s12">
        <img src="./images/chart.png" alt="skill-chart" class="responsive-img">
      </div>

    </div>
    <div class="col s6 row">
      <div class="col s12">
        <img src="./images/chart.png" alt="skill-chart" class="responsive-img">
      </div>
      <div class="col s12">
        <img src="./images/chart.png" alt="skill-chart" class="responsive-img">
      </div>
    </div>
  </div>

</div>
