<div class="container">
  <h1>Web development</h1>

  <p>
    Web development is a broad term for the work involved in developing a web site for the Internet (World Wide Web) or an intranet (a private network). Web development can range from developing the simplest static single page of plain text to the most complex
    web-based internet applications (or just 'web apps') electronic businesses, and social network services.
  </p>

  <p>
    A web designer’s job is very important. All of the stuff taking place in this website is happening for one reason: to view a website. A web designer’s job is to decide how this website looks and works, and even other things, like making sure the website
    is usable to disabled visitors
  </p>

  <h2>Day in the life of a web developer</h2>
  <div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/vt79JcPfZQA?rel=0" frameborder="0" allowfullscreen />
    </iframe>
  </div>
  <br><br>
  <div class="video-container">
    <iframe width="853" height="480" src="//www.youtube.com/embed/5kas2jBObUY?rel=0" frameborder="0" allowfullscreen />
    </iframe>
  </div>

  <h2>Web developer profile</h2>

  <img src="./images/skillsWeb.png" alt="skill-chart">

  <h2>Give me the details</h2>

  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Core Skills</div>
      <div class="collapsible-body">
        <div class="skillbar clearfix " data-percent="80%">
          <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
          <div class="skillbar-bar" style="background: #e67e22;"></div>
          <div class="skill-bar-percent">80%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
          <div class="skillbar-bar" style="background: #3498db;"></div>
          <div class="skill-bar-percent">75%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="100%">
          <div class="skillbar-title" style="background: #2c3e50;"><span>javascript</span></div>
          <div class="skillbar-bar" style="background: #2c3e50;"></div>
          <div class="skill-bar-percent">100%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="40%">
          <div class="skillbar-title" style="background: #46465e;"><span>PHP</span></div>
          <div class="skillbar-bar" style="background: #5a68a5;"></div>
          <div class="skill-bar-percent">40%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #333333;"><span>Wordpress</span></div>
          <div class="skillbar-bar" style="background: #525252;"></div>
          <div class="skill-bar-percent">75%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #27ae60;"><span>SEO</span></div>
          <div class="skillbar-bar" style="background: #2ecc71;"></div>
          <div class="skill-bar-percent">70%</div>
        </div>
        <!-- End Skill Bar -->

        <div class="skillbar clearfix " data-percent="70%">
          <div class="skillbar-title" style="background: #124e8c;"><span>Photoshop</span></div>
          <div class="skillbar-bar" style="background: #4288d0;"></div>
          <div class="skill-bar-percent">70%</div>
        </div>
        <!-- End Skill Bar -->


      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>How to stand out</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Scholarships</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>


  <h3>Types of developers</h3>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
        <h5 class="center">Front End</h5>

        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms
          allow for a more unified user experience.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
        <h5 class="center">Back End</h5>

        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
        <h5 class="center">Full Stack</h5>

        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
      </div>
    </div>

  </div>

  <h2>Find someone to teach you!</h2>
  <a class="waves-effect waves-light btn-large" href="/guidance">Talk to a Web Developer!</a>

  <h2>Ask a question!</h2>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Question:</label>
        </div>
      </div>
    </form>
  </div>

</div>
